@page
@model WebApplication1.Pages.IndexModel
@{
}
<html>
<body>
    <h1>
        Cerea, nej
    </h1>
    <p>Vai alla pagina di <a href="/Risposta">risposta</a></p>
    <a href ="/Query">Clicca</a>
    <form action="/Risposta" method="get">
        <label>Nome:</label><br />
        <input type="text" name="Nome" /><br />
        <label>Cognome:</label><br />
        <input type="text" name="Cognome" /><br />
        <input type="submit" />
    </form>
</body>
</html>
