@page
@model WebApplication1.Pages.RispostaModel
@{
}
<html>
<body>
    <h1>
        Risposta neh
    </h1>
   <p>Il Nome è : <b>@Model.Nome</b> <br />Il cognome è: <b>@Model.Cognome</b></p>
</body>
</html>
